<h3>Create Item</h3>

<form action="/item/create" method="post">
  <input type="text" name="name" placeholder="Enter New Item!">
  <input type="integer" name="quantity" placeholder="Enter Item Quantity">
  <input type="submit">Create Item</input>
</form>
