<h3>Remove Item</h3>

<p>
  Are you sure you want to remove <em><%= @item.name %></em>?
</p>

<form action="/item/destroy" method="post">
  <input type="hidden" name="id" value="<%= @item.id %>">
  <input type="submit" value="Remove Item">
</form>
