<h1>Login</h1>

<% if @message %>
<li><%= @message %></li>
<% end %>

<form class="" action="/login" method="post">
  <input type="text" name="user_name" placeholder="username">
  <input type="password" name="password" placeholder="your password">
  <input type="submit" name="name" value="Login!">
</form>
