<div class="row">

<div class="col-xs-12 bg-danger">


<h2>Login</h2>
</div>
</div>
<% if @message %>
<li><%= @message %></li>
<% end %>
<hr>
<form class="" action="/login" method="post">
  <input type="text" name="user_name" placeholder="username">
  <input type="password" name="password" placeholder="your password">
  <input type="submit" name="name" value="Login!">
</form>

<h3>Not already a user? Register <a href="/register">here.</a></h3>
