<div class="row">
  <div class="col-xs-12 bg-danger">
    <h2>Register</h2>
  </div>
</div>

<hr>
<form class="" action="/register" method="post">
  <input type="text" name="user_name" placeholder="your username">
  <input type="text" name="user_email" placeholder="your email">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="Register">
</form>
