<h3>Update Item</h3>

<p>
  <em>Update item #<%= @item.id %>.</em>
</p>

<form action="/item/update" method="post">
  <input type="hidden" name="id" value="<%= @item.id %>">
  <input type="text" name="name" value="<%= @item.name %>">
  <input type="integer" name="quantity" value="<%= @item.quantity %>">
  <input type="submit">Update Task</input>
</form>
